@use 'variables' as *; // variables disponibles partout
@use 'sass:color';

@use 'sidebar' as *;
@use 'section' as *;
@use 'card' as *;
@use 'footer' as *;

// Reset et styles globaux
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


// Importations

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'IBM Plex Mono', sans-serif;
  scroll-behavior: smooth;
  background: $bg-light;
  color: $text-dark;
}



// Contenu principal ajusté sur mobile
@media (max-width: 768px) {
  

  body{
    font-size: 10px;
  }
}
