.sidebar {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  background: #022f40;
  color: white;
  z-index: 1000;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sidebar ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.sidebar ul li {
  width: 100%;
  margin: 10px;
  text-align: center;
}
.sidebar ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.1em;
  transition: 0.3s;
}
.sidebar ul li a:hover {
  color: #8da9c4;
}
@media (max-width: 1199px) {
  .sidebar .sidebar-nav .nav-link {
    font-size: 12px;
    padding: 20px 5px;
  }
}
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: 80px;
    position: relative;
    padding: 10px 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.1em;
  }
  .sidebar ul {
    width: 90%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.content {
  margin-left: 200px;
  width: calc(100% - 200px);
  /* Style propre pour tous les liens du contenu */
}
.content a {
  color: #022f40;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}
.content a:hover {
  text-decoration: underline;
  color: rgb(3.5454545455, 83.3181818182, 113.4545454545);
}
.content .section {
  min-height: 100vh;
}
.content .section#home {
  background: none !important;
}
.content .section#projects {
  background: rgb(232.4285714286, 238.0714285714, 238.0714285714);
}
.content .section#about {
  background: rgb(217.8571428571, 227.1428571429, 227.1428571429);
}
.content .section#contact {
  background: rgb(203.2857142857, 216.2142857143, 216.2142857143);
}
.content .section h1,
.content .section h2 {
  margin-bottom: 20px;
}

/* Ensure canvas fills the background */
#canvas-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* Version mobile */
@media (max-width: 768px) {
  .content {
    margin-left: 0;
    width: 100%;
    margin-top: 80px;
    height: calc(100% - 80px);
  }
  .section {
    padding: 20px;
  }
}
.card {
  border: none;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.card-title {
  padding: 20px 0 15px 0;
  font-weight: 500;
}
.card-body {
  padding: 0 20px 20px 20px;
}
.card-img-overlay {
  background-color: rgba(255, 255, 255, 0.05);
}

.card-title {
  font-size: 1.4rem;
}
@media (max-width: 768px) {
  .card-title {
    font-size: 1rem;
  }
}

.card-text {
  font-size: 1rem;
}
@media (max-width: 768px) {
  .card-text {
    font-size: 0.7rem;
  }
}

.modal-title {
  font-size: 1.75rem;
}
@media (max-width: 768px) {
  .modal-title {
    font-size: 1.2rem;
  }
}

.modal-body {
  font-size: 1rem;
}
@media (max-width: 768px) {
  .modal-body {
    font-size: 0.8rem;
  }
}

.footer {
  margin-left: 150px;
  height: 60px;
  padding: 20px 0;
  font-size: 12px;
  transition: all 0.3s;
  background-color: #f8f9fa;
}
.footer .copyright,
.footer .credits {
  text-align: center;
  color: #333;
}
.footer .credits {
  padding-top: 5px;
  font-size: 13px;
}
@media (max-width: 768px) {
  .footer {
    font-size: 8px;
    padding: 10px 0;
    margin-left: 0;
    height: 40px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "IBM Plex Mono", sans-serif;
  scroll-behavior: smooth;
  background: #f7f9f9;
  color: #252323;
}

@media (max-width: 768px) {
  body {
    font-size: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
